.alarm_container_ksy {
    min-height: calc(110vh - 160px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    margin: 55px auto;
    padding: 1rem;

}

/* 알림 아이템 컨테이너 */
.alarm_item_container {
    position: relative;
    background-color: #fff9ea;
    border: 2px solid #5c6552;
    color: #515738;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* 알림 메시지 내용(공통) */
.alarm_message_kes {
    font-family: var(--main_font);
    color: #515738;
    font-size: 13px;
    font-weight: bold;
    padding-inline: 10px;;
}

.alarm_container_ksy a{
    border: 2px solid #5c6552;
    padding: 5px;
    font-family: "Gravitas One", serif;
    border-radius: 5px;
    display: flex;
    align-items: center;

}

/* 읽은 알림(공통) */
.alarm_read_kes {
    position: relative;
    background-color: #fff9ea;
    border: 2px solid #5c6552;
    color: #515738;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    pointer-events: none;   /* 클릭 불가 */
}

.alarm_read_kes button {
    display: none;
}

.alarm_icon_wrapper_ksy {
    display: flex; /* Flexbox 적용 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 가로 정렬 */
    padding-top: 10px;
}

/* 알림 온 시각(공통) */
.alarm_time_kes {
    font-family: var(--main_font);
    color: #5c6552;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3px;
    font-size: 8px;
}

/* 알림창에서 친구수락 예/아니오 버튼 */
.alarm_btn_yes_kes, .alarm_btn_no_kes {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #5c6552;
    font-size: 10px;
}

.alarm_btn_yes_kes {
    background-color: #5c6552;
    color: #fff9ea;
}
.alarm_btn_no_kes {
    background-color: #fff9ea;
    color: #5c6552;
}

/* 배지 획득 알림 배지미리보기 */
.alarm_badge_img_kes {
    height: 30px;
    width: auto;
    transition: all 0.3s ease
}
.badge_overlay_text_kes {
    display: none;
    position: absolute;
    width: 150px;
    height: 30px;
    text-align: center;
    background-color: #fff;
    transform: translateY(-110%);
    font-size: 18px;
    line-height: 30px;
}
.badge_overlay_kes:hover .alarm_badge_img_kes {
    transform: scale(1.1);
}
.badge_overlay_kes:hover .badge_overlay_text_kes {
    display: block;
}

/* 알람이 없을 때 */
.alarm_no_alarm {
    display: flex;
    font-size: 22px;
    color: #5c6552;
    justify-content: center;
    margin-top: 45px;
}
.alarm_btn_ksy:last-child {
    margin-bottom: 0;
}

@media (max-width: 430px) {
    .alarm_container_ksy {
        width: 100%;
        padding: 2rem;
    }

    .alarm_container_ksy a {
        display: flex;
        align-items: center;
        width: 18%;

    }
  }
  
