.gravitas-one-regular {
    font-family: var(--logo_font);
    font-weight: 400;
    font-style: normal;
  }

.login_body_psy {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 50%;
    background-color: #fff9ea7d;
}

.login_wrapper_psy {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--background);
    padding: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), inset 0px -1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.login_title_psy {
    text-align: center;
}

.login_title_psy p {
    font-family: var(--main_font);
    color: var(--title_color);
    font-size: 14px;
    font-weight: bold;
}

.login_title_psy h1 {
    font-size: 32px;
    font-family: var(--logo_font);
    font-style: normal;
    font-weight: 400;
    color: var(--title_color);
}

.login_container_psy{
    border: 2px solid var(--title_color);
    padding: 20px;
}


.login_form_psy {
    position: relative;
    border-radius: 5px;
}

.login_input_psy {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid var(--title_color);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--title_color);
}

.login_button_psy {
    width: 100%;
    padding: 12px;
    background-color: #96A48B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.login_link_psy {
    text-align: center;
    color: var(--title_color);
    font-size: 14px;
    margin-bottom: 20px;
}

.login_link_psy a {
    color: #96A48B;
    margin-left: 5px;
    text-decoration: underline;
}

.login_social_container_psy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 8px;
}

.login_naverSocial_button_psy {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.login_kakaoSocial_button_psy {
    cursor: pointer;
}

.login_naverSocial_img_psy {
    width: 40px;
    height: 40px;
}


@media (max-width: 430px) {
    .login_wrapper_psy {
        width: 80%;
    }
  }
  
