<div class="Logo_psy">
    <div class="pagesLogo_psy">
        <div class="pagesLogo_content1_ksy">
            <h3 class="pagesLogo_text_ksy">o 로고 변경하기</h3>
            <input type="text" id="logoText_psy" value="pictory" placeholder="로고를 작성해주세요">
        </div>
        <div class="pagesLogo_content2_ksy">
            <h3 class="pagesLogo_choice_ksy">o 색상 선택</h3>
            <input type="color" value="#ffffff" id="logoColorPicker_kes">
        </div>
    </div>
    <button class="pagesLogo_button_complete_ksy" onclick="resetCustomizeField_kes()">
        <span class="pagesLogo_text_ksy">Save</span>
    </button>
</div>

<script>
    const logoText_kes = document.getElementById("logoText_psy");
    const pictoryFrame_kes = document.getElementById("pictory-frame_psy");
    document.getElementById("logoColorPicker_kes").addEventListener("input", applyLogoColor_kes)
    logoText_kes.addEventListener("input", () => {
        if (!logoText_kes.value) {
            const logoP = document.querySelector(".custom-logo_psy");
            if (logoP) {
                logoP.remove();
            }
        } else {
            let logoP = document.querySelector(".custom-logo_psy");
            if (!logoP) {
                logoP = document.createElement('p');
                logoP.className = "custom-logo_psy";
                pictoryFrame_kes.appendChild(logoP);
            }
            logoP.textContent = logoText_kes.value;
        }
    });
    function applyLogo_psy() {
        let logoText_psy = document.getElementById("logoText_psy").value;
        let pictoryFrame_psy = document.getElementById("pictory-frame_psy");
        pictoryFrame_psy.innerHTML += `<p class="custom-logo_psy">${logoText_psy}</p>`;
    }
    function applyLogoColor_kes() {
        let logoTextColor_psy = document.getElementById("logoColorPicker_kes").value;
        let logoP = document.querySelector(".custom-logo_psy");
        logoP.style.color = logoTextColor_psy;
    }
</script>
