<h3 class="pagesthickness_letter_ksy">두께 조정</h3>
<div class="pagesThicknesss_content_ksy">
    <span>0</span>
    <input type="range" id="thicknessSlider_psy" min="0" max="100" value="100">
    <span>100</span>
</div>
<button class="pagesThickness_button_complete" onclick="resetCustomizeField_kes()">
    <span class="pagesThickness_text_ksy">완료</span>
</button>

<script defer>
    const thicknessSlider_kes = document.getElementById("thicknessSlider_psy");

    const imgSlotsContainer = document.querySelector('.image-slots-container_kes');
    const imgSlots = document.querySelectorAll(".image-slot_psy");
    const ImageSlotsContainerHeight = Number(getComputedStyle(imgSlotsContainer).height.replace('px', ''));
    const initialSlotHeight = Number(getComputedStyle(imgSlots[0]).height.replace('px', ''));

    thicknessSlider_kes.addEventListener("input", () => {
        const thicknessSliderValue = thicknessSlider_kes.value / 10;
        imgSlotsContainer.style.gap = `${thicknessSliderValue}px`;
        imgSlots.forEach(slot => {
            slot.style.height = `${(ImageSlotsContainerHeight - 3 * thicknessSliderValue) / 4}px`;
        })
    });
</script>
