<h3>두께 조정</h3>
<input type="range" id="thicknessSlider_psy">
<button onclick="resetCustomizeField_kes()">완료</button>

<script defer>
    const thicknessSlider_kes = document.getElementById("thicknessSlider_psy");
    thicknessSlider_kes.addEventListener("input", () => {

        pictoryFrame_kes.style.gap = (thicknessSlider_kes.value / 10) + "px";
    });
    function applyThickness_psy() {
        let thickness_psy = document.getElementById("thicknessSlider_psy").value;
        let pictoryFrame_psy = document.getElementById("pictory-frame_psy");
        pictoryFrame_psy.style.borderWidth = thickness_psy + "px";
    }
</script>
