{% extends "base.html" %}
{% load static %}

{%block extra_css%}
<link rel="stylesheet" href="{% static 'diaries/custom_photo.css' %}">
{% endblock %}

{% block content %}
<body>

    <div class="container_psy">
        <div id="pictory-frame_psy">
            <div class="image-slot_psy" onclick="uploadImage_psy(0)"><span>+</span></div>
            <div class="image-slot_psy" onclick="uploadImage_psy(1)"><span>+</span></div>
            <div class="image-slot_psy" onclick="uploadImage_psy(2)"><span>+</span></div>
            <div class="image-slot_psy" onclick="uploadImage_psy(3)"><span>+</span></div>
            <p class="custom-logo_psy">pictory</p>
        </div>

        <div class="custom-buttons_psy">
            <button class="cloud-btn_psy" data-page_psy="color">색깔</button>
            <button class="cloud-btn_psy" data-page_psy="logo">로고 수정</button>
            <button class="cloud-btn_psy" data-page_psy="thickness">두께</button>
            <button class="cloud-btn_psy" data-page_psy="sticker">스티커</button>
        </div>

        <!-- AJAX로 불러올 내용을 표시할 영역 -->
        <div id="customization-area_psy">
            <div id="customization-color_kes">
                {% include "diaries/pages/color.html" %}
            </div>
            <div id="customization-logo_kes">
                {% include "diaries/pages/logo.html" %}
            </div>
            <div id="customization-sticker_kes">
                {% include "diaries/pages/sticker.html" %}
            </div>
            <div id="customization-thickness_kes">
                {% include "diaries/pages/thickness.html" %}
            </div>
        </div>
    </div>

    <input type="file" id="imageInput_psy" accept="image/*" style="display: none;" onchange="previewImage_psy(event)">

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".cloud-btn_psy").forEach(button_psy => {
                button_psy.addEventListener("click", function () {
                    let page_psy = this.getAttribute("data-page_psy");
                    loadCustomizationPage_kes(page_psy);
                });
            });
        });

        function loadCustomizationPage_kes(page_option) {
            const customizeAreaDiv = document.getElementById('customization-area_psy');
            const selectedDiv = document.getElementById(`customization-${page_option}_kes`);
            for(let i=0; i<customizeAreaDiv.children.length; i++) {
                const targetDiv = customizeAreaDiv.children[i];
                if (targetDiv === selectedDiv) {
                    targetDiv.style.display = "block";
                } else {
                    targetDiv.style.display = "none";
                }
            }
        }

        function uploadImage_psy(slotIndex_psy) {
            selectedSlot_psy = slotIndex_psy;
            document.getElementById("imageInput_psy").click();
        }

        function previewImage_psy(event) {
            let files_psy = event.target.files;
            if (files_psy.length > 0 && selectedSlot_psy !== null) {
                let reader_psy = new FileReader();
                reader_psy.onload = function(e_psy) {
                    let imageSlots_psy = document.querySelectorAll(".image-slot_psy");
                    imageSlots_psy[selectedSlot_psy].innerHTML = `<img src="${e_psy.target.result}" style="width:100%; height:100%; border-radius: 5px;">`;
                };
                reader_psy.readAsDataURL(files_psy[0]);
            }
        }

        function resetCustomizeField_kes() {
            loadCustomizationPage_kes("");
        }
        resetCustomizeField_kes();
    </script>

</body>
{% endblock %}
