{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'diaries/custom_photo.css' %}">
<link rel="stylesheet" href="{% static "diaries/custom_frames/custom_frame_"|add:frame_option|add:".css" %}">

{% endblock %}

{% block content %}
<body>

    <div class="container_psy">
        <div class="first-container_psy">
            {% with "diaries/photo_frames/photo_frame_"|add:frame_option|add:".html" as frame_template %}
                {% include frame_template %}
            {% endwith %}

             <div class="right_container_psy">
                <div id="customization-area_psy">
                    <div id="customization-save_kes">
                        <div class="custom-buttons_psy">
                            <button class="cloud-btn_psy" data-page_psy="color">
                                <p>Color</P>
                            </button>
                            <button class="cloud-btn_psy" data-page_psy="logo">
                                <p>Logo</P></button>
                            <button class="cloud-btn_psy" data-page_psy="thickness">
                                <p>Gap</P></button>
                            <button class="cloud-btn_psy" data-page_psy="sticker">
                                <p>Sticker</P>
                            </button>
                        </div>
                        <form id="frameSaveForm_kes" method="post" enctype="multipart/form-data" action="{% url 'diaries:custom_photo' frame_option %}">
                            {% csrf_token %}
                            <input type="hidden" id="saved_photo_image_kes" name="saved_photo">  <!-- 최종 완성본의 Base64 데이터를 담을 input -->
                        </form>
                    </div>
                    <div id="customization-color_kes">
                        {% include "diaries/pages/color.html" %}
                    </div>
                    <div id="customization-logo_kes">
                        {% include "diaries/pages/logo.html" %}
                    </div>
                    <div id="customization-sticker_kes">
                        {% include "diaries/pages/sticker.html" %}
                    </div>
                    <div id="customization-thickness_kes">
                        {% include "diaries/pages/thickness.html" %}
                    </div>
                </div>
                <button type="button" onclick="prepareAndSubmitForm_kes()" class="custom_save_btn_psy">
                    <p>Next</p>
                </button>
             </div>
        </div>
    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script>
        function prepareAndSubmitForm_kes() {
            document.querySelectorAll('.sticker_tools_container').forEach(item => {
                item.style.display = 'none';
            });

            // 프레임 이미지 자체 저장
            const captureArea = document.getElementById("pictory-frame_psy");

            html2canvas(captureArea, { scale: 4 }).then(canvas => {
                let imgData = canvas.toDataURL("image/png");  // Base64 인코딩된 이미지 데이터
                document.getElementById("saved_photo_image_kes").value = imgData;
                document.getElementById("frameSaveForm_kes").submit();  // form 제출
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".cloud-btn_psy").forEach(button_psy => {
                button_psy.addEventListener("click", function () {
                    let page_psy = this.getAttribute("data-page_psy");
                    loadCustomizationPage_kes(page_psy);
                });
            });
        });

        function loadCustomizationPage_kes(page_option) {
            const customizeAreaDiv = document.getElementById('customization-area_psy');
            const selectedDiv = document.getElementById(`customization-${page_option}_kes`);
            for(let i=0; i<customizeAreaDiv.children.length; i++) {
                const targetDiv = customizeAreaDiv.children[i];
                if (targetDiv === selectedDiv) {
                    targetDiv.style.display = "block";
                } else {
                    targetDiv.style.display = "none";
                }
            }
        }

        function uploadImage_psy(slotIndex_psy) {
            selectedSlot_psy = slotIndex_psy;   // 이미지 preview 위한 assign

            const form = document.getElementById("frameSaveForm_kes");
            // 만약에 폼에 이미 대응되는 file input이 있다 -> 그거를 클릭하면됨
            const existInput = document.getElementById(`imageInput_kes_${slotIndex_psy}`);
            if (existInput) {
                existInput.click();
            }
            else {
                // 없다 -> 추가
                const input = document.createElement("input");
                input.type = "file";
                input.id = `imageInput_kes_${slotIndex_psy}`
                input.accept = "image/*";
                input.addEventListener("change", (event) => previewImage_psy(event));
                input.click();
            }

        }

        function previewImage_psy(event) {
            let files_psy = event.target.files;
            if (files_psy.length > 0 && selectedSlot_psy !== null) {
                let reader_psy = new FileReader();
                reader_psy.onload = function (e_psy) {
                    let imageSlots_psy = document.querySelectorAll(".image-slot_psy");
                    const newImg = document.createElement('img');
                    newImg.src = e_psy.target.result;
                    const divWidth = Number(getComputedStyle(imageSlots_psy[selectedSlot_psy]).width.replace('px',''));
                    const divHeight= Number(getComputedStyle(imageSlots_psy[selectedSlot_psy]).height.replace('px',''));
                    
                    newImg.onload = function () {
                        const imgWidth = newImg.naturalWidth;
                        const imgHeight = newImg.naturalHeight;

                        const scale = Math.max(divWidth / imgWidth, divHeight / imgHeight);

                        const newWidth = imgWidth * scale;
                        const newHeight = imgHeight * scale;

                        // 이미지 스타일 적용
                        newImg.style.width = `${newWidth}px`;
                        newImg.style.height = `${newHeight}px`;
                        // 중앙 정렬
                        newImg.style.position = "absolute";
                        newImg.style.left = `${(divWidth - newWidth) / 2}px`;
                        newImg.style.top = `${(divHeight - newHeight) / 2}px`;
                    }
        
                    imageSlots_psy[selectedSlot_psy].innerHTML = '';
                    imageSlots_psy[selectedSlot_psy].appendChild(newImg);
                };
                reader_psy.readAsDataURL(files_psy[0]);
            }
        }

        function resetCustomizeField_kes() {
            loadCustomizationPage_kes("save");
        }
        resetCustomizeField_kes();
    </script>

</body>
{% endblock %}
