{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'diaries/custom_photo.css' %}">
<link rel="stylesheet" href="{% static "diaries/custom_frames/custom_frame_"|add:frame_option|add:".css" %}">

{% endblock %}

{% block content %}
<body>

    <div class="container_psy">
        <div class="first-container_psy">
            {% with "diaries/photo_frames/photo_frame_"|add:frame_option|add:".html" as frame_template %}
                {% include frame_template %}
            {% endwith %}

            <!-- AJAX로 불러올 내용을 표시할 영역 -->
            <div id="customization-area_psy">
                <div id="customization-save_kes">
                    <div class="custom-buttons_psy">
                        <button class="cloud-btn_psy" data-page_psy="color">
                            <p>색깔</P>
                        </button>
                        <button class="cloud-btn_psy" data-page_psy="logo">
                            <p>로고</P></button>
                        <button class="cloud-btn_psy" data-page_psy="thickness">
                            <p>두께</P></button>
                        <button class="cloud-btn_psy" data-page_psy="sticker">
                            <p>스티커</P>
                        </button>
                    </div>
                    <form id="frameSaveForm_kes" method="post" enctype="multipart/form-data" action="{% url 'diaries:custom_photo' frame_option %}">
                        {% csrf_token %}
                        <input type="hidden" id="frame_cssInput_kes" name="frame_css" value="">
                        <input type="hidden" id="frame_logoInput_kes" name="logo_text" value="">
                        <input type="hidden" id="saved_photo_image_kes" name="saved_photo">  <!-- 최종 완성본의 Base64 데이터를 담을 input -->
                        <button type="button" onclick="prepareAndSubmitForm_kes()">저장하고 다음으로</button>
                    </form>
                </div>
                <div id="customization-color_kes">
                    {% include "diaries/pages/color.html" %}
                </div>
                <div id="customization-logo_kes">
                    {% include "diaries/pages/logo.html" %}
                </div>
                <div id="customization-sticker_kes">
                    {% include "diaries/pages/sticker.html" %}
                </div>
                <div id="customization-thickness_kes">
                    {% include "diaries/pages/thickness.html" %}
                </div>
            </div>
        </div>

    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script>
        function prepareAndSubmitForm_kes() {
            // 프레임 색상, 두께 - css text 형태로 저장
            const frame = document.getElementById("pictory-frame_psy");  // 대상 요소
            const computedStyle = window.getComputedStyle(frame);  // 요소의 CSS 속성값 가져오기
            const cssText = computedStyle.cssText || Object.values(computedStyle).join("; "); // CSS를 문자열로 변환
            document.getElementById("frame_cssInput_kes").value = cssText;  // 숨겨진 input에 값 저장
            
            // 로고 - text 저장
            document.getElementById("frame_logoInput_kes").value = document.querySelector('.custom-logo_psy').textContent;  // 숨겨진 input에 값 저장

            // sticker들 저장
            const stickers = frame.querySelectorAll(".added_sticker_kes");
            const form = document.getElementById("frameSaveForm_kes");
            stickers.forEach(img => {
                const input = document.createElement("input");
                input.type = "hidden";
                input.name = "sticker_srcs";  // 같은 name을 사용하면 리스트로 전송됨
                srcsplit = img.src.split('/');
                input.value = srcsplit[srcsplit.length - 1];
                form.appendChild(input);

                const coorXInput = document.createElement("input");
                coorXInput.type = "hidden";
                coorXInput.name = "sticker_coorXs";  // 같은 name을 사용하면 리스트로 전송됨
                coorXInput.value = Number(img.style.left.replace('px',''));
                form.appendChild(coorXInput);
                const coorYInput = document.createElement("input");
                coorYInput.type = "hidden";
                coorYInput.name = "sticker_coorYs";  // 같은 name을 사용하면 리스트로 전송됨
                coorYInput.value = Number(img.style.top.replace('px',''));
                form.appendChild(coorYInput);
            });

            // 프레임 이미지 자체 저장
            const captureArea = document.getElementById("pictory-frame_psy");

            html2canvas(captureArea).then(canvas => {
                let imgData = canvas.toDataURL("image/png");  // Base64 인코딩된 이미지 데이터
                document.getElementById("saved_photo_image_kes").value = imgData;
                form.submit();  // form 제출
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("pictory-frame_psy").style.backgroundColor = "rgb(255,255,255)";
            document.querySelectorAll(".cloud-btn_psy").forEach(button_psy => {
                button_psy.addEventListener("click", function () {
                    let page_psy = this.getAttribute("data-page_psy");
                    loadCustomizationPage_kes(page_psy);
                });
            });
        });

        function loadCustomizationPage_kes(page_option) {
            const customizeAreaDiv = document.getElementById('customization-area_psy');
            const selectedDiv = document.getElementById(`customization-${page_option}_kes`);
            for(let i=0; i<customizeAreaDiv.children.length; i++) {
                const targetDiv = customizeAreaDiv.children[i];
                if (targetDiv === selectedDiv) {
                    targetDiv.style.display = "block";
                } else {
                    targetDiv.style.display = "none";
                }
            }
        }

        function uploadImage_psy(slotIndex_psy) {
            selectedSlot_psy = slotIndex_psy;   // 이미지 preview 위한 assign

            const form = document.getElementById("frameSaveForm_kes");
            // 만약에 폼에 이미 대응되는 file input이 있다 -> 그거를 클릭하면됨
            const existInput = document.getElementById(`imageInput_kes_${slotIndex_psy}`);
            if (existInput) {
                existInput.click();
            }
            else {
                // 없다 -> 추가
                const input = document.createElement("input");
                input.type = "file";
                input.id = `imageInput_kes_${slotIndex_psy}`
                input.className = "imageInput_kes";
                input.name = "photos";  // 같은 name을 사용하면 리스트로 전송됨
                input.accept = "image/*";
                input.style.display = "none";
                input.addEventListener("change", (event) => previewImage_psy(event));
                form.appendChild(input);
                input.click();
            }

        }

        function previewImage_psy(event) {
            let files_psy = event.target.files;
            if (files_psy.length > 0 && selectedSlot_psy !== null) {
                let reader_psy = new FileReader();
                reader_psy.onload = function(e_psy) {
                    let imageSlots_psy = document.querySelectorAll(".image-slot_psy");
                    imageSlots_psy[selectedSlot_psy].innerHTML = `<img src="${e_psy.target.result}" style="width:100%; height:100%; border-radius: 5px;">`;
                };
                reader_psy.readAsDataURL(files_psy[0]);
            }
        }

        function resetCustomizeField_kes() {
            loadCustomizationPage_kes("save");
        }
        resetCustomizeField_kes();
    </script>

</body>
{% endblock %}
