{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'diaries/detail.css' %}">
{% endblock %}

{% block content %}
    <div class="diary_detail_psy">

        <div class="diary_detail_left_container_psy">
            <div class="diary_detail_title_psy">
                <h1 class="create_diary_letter_ksy">Title: {{ diary.title }}</h1>
            </div>
            <img src="{{ photo.url }}" alt="네컷사진">
            <div class="create_diary_first_title_ksy">
                <h1 class="diary_detail_date_psy">Date: {{ diary.date }}</h1>
            </div>
        </div>

        <div class="diary_detail_right_container_psy">        
            <div class="diary_detail_second_ksy">
                <div class="create_diary_second_title_ksy">
                    <h1 class="create_diary_letter_ksy">날씨</h1>
                    <span>{{ diary.get_weather_display }}</span>
                </div>
                <div class="create_diary_second_title_ksy">
                    <h1 class="create_diary_letter_ksy">감정</h1>
                    <span>{{ diary.emotion }}점</span>
                </div>
            </div>
        
            <div class="create_diary_third_ksy">
                <div class="create_diary_third_title_ksy">
                    <h1 class="create_diary_letter_ksy">게시물 태그</h1>
                    <div class="create_diary_content_ksy">
                        {% for tag in diary.tags.all %}
                            <span>#{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="create_diary_third_title_ksy">
                    <h1 class="create_diary_letter_ksy">친구 태그</h1>
                    <div class="create_diary_usertag_item_kes">
                        {% for user_tag in user_tags %}
                            <span>@{{ user_tag.user.nickname }}</span>
                        {% empty %}
                            <span>태그된 친구가 없습니다.</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        
            <div class="create_diary_fourth_ksy">
                <div class="create_diary_fourth_title_ksy">
                    <h1 class="create_diary_letter_ksy">장소</h1>
                    <div class="create_diary_map_ksy">{{ diary.place }}</div>
                </div>
            </div>
        
            <div class="create_diary_fifth_ksy">
                <h1 class="create_diary_letter_ksy">일기 내용</h1>
                <p>{{ diary.content }}</p>
            </div>
        </div>
        <div class="create_diary_button_ksy">
            <button type="button" class="create_button_save_ksy" onclick="location.href='{% url 'diaries:edit_diary' diary.id %}'">
                <span>수정</span>
            </button>
            <button type="submit" class="create_button_save_ksy" onclick="if(confirm('정말 삭제하시겠습니까?')) { location.href='{% url 'diaries:delete_diary' diary.id %}'; }">
                <span>삭제</span>
            </button>
        </div>
    </div>
{% endblock %}