{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diaries/diary_map.css' %}">
{% endblock %}

{% block content %}
<div class="map_container_ksy">
    <!-- 검색 영역 -->
    <div class="map_search-container_ksy">
        <form class="map_search-form_ksy">
            {% csrf_token %}
            <input type="text" class="map_search-input_ksy" placeholder="장소를 검색해주세요" required>
            <button type="submit" class="map_search-button-container_ksy">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="map_search-button_ksy" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
            </button>
        </form>
    </div>
    <!-- 지도 영역 -->
    <div class="map_user_ksy"></div>
</div>
{% endblock %}