@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --main_font: 'NotoSerifKR';
    --content_color: #888D72;
    --title_color: #515738;
    --background: #FFF9EA;
}
