
#pictory-frame_psy {
    width: 340px;
    height: 460px;
}

.image-slots-container_kes {
    grid-template-columns: repeat(2, 1fr);
    width: 300px;
    height: 400px;
}

.image-slot_psy {
    width: 146px;
    height: 127.34px;
}