
#pictory-frame_psy {
    width: 380px;
    height: 500px;
}

.image-slots-container_kes {
    grid-template-columns: repeat(2, 1fr);
    width: 340px;
    height: 450px;
}

.image-slot_psy {
    width: 165px;
    height: 143.34px;
}