
#pictory-frame_psy {
    width: 250px;
    height: 540px;
}
.image-slots-container_kes {
    grid-template-columns: repeat(1, 1fr);
    width: 210px;
    height: 480px;
}

.image-slot_psy {
    width: 210px;
    height: 112px;
}