{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="profile-wrapper_psy">
        
        <div class="profile-section_psy">   
            <div class="profile-image_psy">
                <img src="github-icon.png" alt="프로필 사진">
            </div>
            <div class="profile-info_psy">
                <div class="id-box_psy">@sooyeon(아이디)</div>
                <div class="visitor-box_psy">이웃 52명</div>
            </div>

            <div class="button-group_psy">
                <button class="action-btn_psy">내 일기<br>보러가기</button>
                <button class="action-btn_psy">일기 작성<br>하러 가기</button>
            </div>
        </div>
    
        <div class="badges-section_psy">
            <h3 class="badges-title_psy">내가 달성한 배지</h3>
            <div class="badges-container_psy">
                <img src="github-icon.png" alt="배지" class="badge-icon_psy">
                <img src="github-icon.png" alt="배지" class="badge-icon_psy">
                <img src="github-icon.png" alt="배지" class="badge-icon_psy">
                <img src="github-icon.png" alt="배지" class="badge-icon_psy">
                <img src="github-icon.png" alt="배지" class="badge-icon_psy">
                <img src="github-icon.png" alt="배지" class="badge-icon_psy">
                <img src="github-icon.png" alt="배지" class="badge-icon_psy">
            </div>
        </div>

        <div class="graph-section_psy">
            <h3 class="graph-title_psy">
                <span>나의 감정 그래프</span>
                <span class="graph-stats_psy">268 × 31</span>
            </h3>
            <div class="graph-container_psy">
                <!-- 여기에 실제 그래프가 들어갈 예정 -->
                <div class="graph-placeholder_psy"></div>
            </div>
        </div>
    </div>

{% endblock %}
