<div id="pictory-frame_psy">
    <div class="image-slots-container_kes">
        <div class="image-slot_psy" onclick="uploadImage_psy(0)"><span>+</span></div>
        <div class="image-slot_psy" onclick="uploadImage_psy(1)"><span>+</span></div>
        <div class="image-slot_psy" onclick="uploadImage_psy(2)"><span>+</span></div>
        <div class="image-slot_psy" onclick="uploadImage_psy(3)"><span>+</span></div>
        <div class="image-slot_psy" onclick="uploadImage_psy(4)"><span>+</span></div>
        <div class="image-slot_psy" onclick="uploadImage_psy(5)"><span>+</span></div>
    </div>
    <p class="custom-logo_psy">pictory</p>
</div>