/* 이 파일 제가 테스트하려고 추가한 거라 나중에 프론트에 맞게 싹 다 지우셔도 무방합니다 */
.create_diary_letter_ksy {
    color: black;
}

/* 이 밑에 세 개는 '친구 태그' 기능에서 태그 가능한 유저 목록 띄워주는 거 관련한 클래스들임다 */
.create_diary_usertag_item_kes {
    color: black;
}
.create_diary_usertag_item_kes > input {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 1px;
}
.create_diary_usertag_item_kes > input:checked {
    background-color: aqua;
}