.create_diary_container_ksy {
    min-height: calc(115vh - 160px);
    display: flex;
    padding: 40px;
    padding-left: 0;
    gap: 25px;
    background-color: var(--background);
}

.create_diary_left_container_psy {
    flex: 3;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 0;
}

.create_diary_left_container_psy img {
    width: 100%;
    height: auto;
}

.create_diary_right_container_psy {
    flex: 7;
    background-color: var(--background);
    min-width: 0;
}

.create_diary_form_psy {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first_right_container_psy {
    background-color: var(--background);
    padding: 20px;
    border: 3px solid var(--container_color);
    border-radius: 5px;
    margin-top: 35px;
}

.first_line_psy, .second_line_psy {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.diary_title_psy, .diary_emotion_psy,
.diary_date_psy, .diary_weather_psy {
    flex: 1;
}

.diary_letter_psy {
    font-size: 14px;
    color: var(--container_color);
    margin-bottom: 8px;
    font-family: var(--logo_font);
}

.third_line_psy {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.diary_tag_psy {
    flex: 1;
}

.diary_content_tag_psy {
    margin-bottom: 20px;
    pointer-events: none;
}

.content_tag_psy {
    width: 100%;
    padding: 8px;
    border: 2px solid var(--container_color);
    border-radius: 4px;
    pointer-events: auto; 

}

.friend_tag_item_psy label {
    display: inline-flex;
    align-items: center;
    background-color: #888d724d;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 5px;
    font-family: var(--main_font);
    color: var(--container_color);
    font-size: 11px;
    cursor: pointer;
}

.friend_tag_item_psy.selected label{
    background-color: var(--container_color);
    color: var(--background);
}


.diary_friend_psy{
    border: 2px solid var(--container_color);
    padding: 10px;
    height: calc(22vh - -5px);
    overflow-y: auto;

}

.diary_map_psy {
    flex: 1;
    position: relative;
}

.real_location_psy {
    margin-top: 8px;
    border: 2px solid var(--container_color);
    border-radius: 4px;
    height: 23vh; 
    width: 100%;
}

.fourth_line_psy textarea {
    font-family: var(--main_font);
    width: 100%;
    min-height: 200px;
    padding: 16px;
    border: 3px solid var(--container_color);
    border-radius: 5px;
    resize: vertical;
    background-color: var(--background);
}

.diary_save_psy {
    font-size: 14px;
    border: 3px solid var(--container_color);
    border-radius: 4px;
    background-color: var(--background);
    padding: 10px;
    font-family: var(--logo_font);
    color: var(--container_color);
}


input[type="text"], 
input[type="date"], 
select {
    font-family: var(--main_font);
    width: 100%;
    padding: 8px;
    border: 2px solid var(--container_color);
    border-radius: 4px;
    background-color: var(--background);
}

input[type="text"] {
    position: relative;
    z-index: 1000;
}

.create_diary_usertag_item_kes {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

/* 감정 임시 확인용 css */
.emotion-choice {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    text-align: center;
}

.emotion-choice input[type="radio"] {
    display: none; /* 기본 라디오 버튼 숨기기 */
}

.emotion-choice label {
    display: inline-block;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s, background-color 0.3s;
}

.emotion-choice label svg {
    width: 32px;
    height: 32px;
    fill: var(--container_color);
}

/* 선택된 SVG를 강조 */
.emotion-choice input[type="radio"]:checked + label {
    border-color: #5c6552; 
    background-color: rgba(0, 0, 0, 0.10);
}

/* 날씨 임시 확인용 */
.weather-choice {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    text-align: center;
}

.weather-choice input[type="radio"] {
    display: none; /* 기본 라디오 버튼 숨김 */
}

.weather-choice label {
    display: inline-block;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s, background-color 0.3s;
}

.weather-choice label svg {
    width: 32px;
    height: 32px;
    fill: var(--container_color);  /* 감정과 동일한 색상 */
}

/* 선택된 날씨 강조 */
.weather-choice input[type="radio"]:checked + label {
    border-color: var(--container_color);
    background-color: rgba(0, 0, 0, 0.10);
}

#placesList {
    color: var(--title_color);
    border-radius: 5px;
    position: absolute;
    top: 19%;
    left: 0;
    right: 0;
    display: none;
    gap: 10px;
    padding: 15px;
    font-size: 14px;
    z-index: 10;
    background-color: #fdf8ec;
    border: 3px solid var(--container_color);
    flex-direction: column;
    cursor: pointer;
}

#placesList li {
    padding: 5px;
    border-bottom: 2px solid var(--container_color);
    cursor: pointer;
}

#placesList li:last-child {
    border-bottom: none;
}

@media (max-width: 430px) {
    .create_diary_container_ksy {
        display: block;
        padding: 0;
        padding-left: 0;
        margin: 20px
    }

    input[type="text"] {
        font-size: 9px;
    }
    
    .real_location_psy {
        height: 215px;
    }

    .emotion-choice label, .weather-choice label {
        padding: 1px;
        border-color: unset;
    }

    #placesList {
        top: 16%;
    }

  }
  
