
.frame-container_psy {
    height: 80vh;
    width: 100%;
    padding: 30px;
    
}

.frame-select-text_psy {
    text-align: center;
    font-size: 2.2rem;
    margin: 4rem;
    color: var(--title_color);
    font-family: var(--main_font);
    font-weight: 700;

}

.frame-btn_psy {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 🟢 4개씩 가로 배치 */
    gap: 20px;
    max-width: 100%;
}

.frame-btn_psy button {
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.frame-btn_psy button img {
    width: 100%;
    height: auto;
    max-height: 430px;
    object-fit: contain;
}

.frame-btn_psy button:hover {
    transform: scale(1.05);
}

.frame-btn4_psy img {
    transform: scale(0.7);
}

@media (max-width: 430px) {
    .frame-container_psy {
        height: auto;
        padding: 20px;
        margin-top: 60px;
    }

    .frame-select-text_psy {
        font-size: 1.9rem;
        margin: 1rem;
        margin-top: 20px;
    }

    .frame-btn_psy {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        max-width: 100%;
    }

    .frame-btn_psy button {
        padding: 8px;
    }

    .frame-btn_psy button img {
        max-height: 200px; /* 이미지 크기 조정 */
        transform: scale(0.9);
    }

    .frame-btn4_psy img {
        transform: scale(0.7);
    }

    .custom-buttons_psy {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .cloud-btn_psy {
        padding: 10px;
        font-size: 12px
    }
}
