@font-face {
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.frame-container_psy {
    width: 100%;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}

.frame-select-text_psy {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: var(--font_color);
    font-family: 'GangwonEduSaeeum';

}

.frame-btn_psy {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.frame-btn_psy button {
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.frame-btn_psy button img {
    width: 100%;
    height: auto;
    max-height: 430px;
    object-fit: contain;
}

.frame-btn_psy button:hover {
    transform: scale(1.05);
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .frame-btn_psy {
        grid-template-columns: 1fr; 
        max-width: 400px;
    }
    
    .frame-select-text_psy {
        font-size: 1.2rem;
    }
}