.friend_container_ksy {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.friend_search-container_ksy {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.friend_search-form_ksy {
    box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.10) inset, -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    padding: 8px 16px;
}

.friend_search-input_ksy {
    font-family: var(--main_font);
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 23px;
}
.friend_search-input_ksy::placeholder{
    color: rgba(30, 50, 105, 0.73);
}

.friend_search-button-container_ksy {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.friend_search-button_ksy {
    cursor: pointer;
    color: rgba(30, 50, 105, 0.73);
}

.friend_search-button-container_ksy:hover .friend_search-button_ksy {
    color: var(--font_color)
}

